
<div class="col-10">
    <div class="card" id="article-card">
        {% if filtered==1 %}
        <div class="card-header"> 
        {% if article.subjects=="(Other)" %} 
        Classified as: {{ article.subjects_osf }}
        {% endif %}
        {% if article.subjects=="(Unspecified)" %} 
        No classified.
        {% endif %}
        </div>
        {% endif %}
        <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ article.authors }}</h6>
        {% if article.abstract != nil %}
        <button class="btn btn-light btn-sm rounded-pill" type="button" data-bs-toggle="collapse"
            data-bs-target="#{{ article.doi }}" aria-expanded="false"
            aria-controls="{{ article.doi }}">Abstract</button>
        {% else %}
        <button class="btn btn-light btn-sm rounded-pill" type="button" data-bs-toggle="collapse"
            data-bs-target="#{{ article.doi }}" aria-expanded="false" aria-controls="{{ article.doi }}"
            disabled>Abstract</button>
        {% endif %}
        <a href="{{ article.url }}" target="_blank" class="btn btn-light btn-sm rounded-pill">Full text</a>
        <div class="collapse collapse-article" id="{{ article.doi }}">
            <div class="card-text">
            {{ article.abstract }}
            </div>
        </div>
        </div>
    </div>
</div>
{% if filtered==0 %}
<div class="col-2">
    {% for subject in article.subjects %}
    <span class="badge text-bg-secondary">{{ subject }}</span>
    {% endfor %}
</div>
{% endif %}
