<!doctype html>
<html lang="en">
{% include head.html %}

<body>

  {% include nav.html %}

  <div class="container my-1">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1>Preprint Picnic 🧺</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        A weekly basket with the latest preprints in political science and adjacent fields. On Fridays at 2 AM UTC, we query the
        OSF API for new research articles uploaded in the previous 7 days and tagged by the authors with the subject category "Social and Behavioral Sciences".
      </p>

      <div class="btn-group flex-wrap mt-3" role="group" aria-label="Landing Page Navigation">
                
        <div class="btn-group" role="group">
        <button type="button" class="btn btn-dark dropdown-toggle btn-md" data-bs-toggle="dropdown" aria-expanded="false">
          Background
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="https://paper-picnic.com/#motivationmotivation">Motivation</a></li>
          <li><a class="dropdown-item" href="https://paper-picnic.com/##backend">Backend</a></li>
          <li><a class="dropdown-item" href="https://paper-picnic.com/##contribute">Contribute</a></li>
        </ul>
        </div>

      </div>

    </div>
  </div>

  <div class="container px-4">
    <h3 class="text-center mt-5">Covered Preprint Repositories</h3>
    <div class="row row-cols-1 row-cols-md-1 align-items-md-start g-5">
      <div class="col">
        <ul class="list-group list-group">
          {% for povider in site.data.providers %}
          <li class="list-group-item"> {{ povider.name }} </li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-lg-6 mx-auto p-4 py-md-5">
      {{ content }}
    </div>
  </div>
 
{% include foot.html %}
  
</body>

</html>